*{
    margin: 0;
    padding: 0;
    text-align: center;
}

.background{
    background-color: brown;
    height: 100vh;
    color: aqua;
}

.calculadora{
    position: absolute;
    background-color: whitesmoke;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
    color: black;

}

.button{
    width: 50px;
    height: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color: black;
    color: aqua;
    margin: 3px;
}

.button:hover{
    background-color:blanchedalmond;
}

#result{
    background-color: black;
    width: 207px;
    height: 30px;
    margin: 5px;
    text-align: right;
    color: red;
    padding: 5px;
}